packages: [
  "animated-page-scroll"
  "autocomplete-python"
  "autumn-highlighter-syntax"
  "busy-signal"
  "clipboard-plus"
  "ex-mode"
  "file-icons"
  "focus-pane-or-panel"
  "git-diff-details"
  "intentions"
  "linter"
  "linter-flake8"
  "linter-ui-default"
  "nerd-treeview"
  "package-sync"
  "persistent-undo"
  "platformio-ide-terminal"
  "pretty-json"
  "python-indent"
  "python-isort"
  "relative-numbers"
  "terminal-plus"
  "undo-tree"
  "vim-mode-clipboard-plus"
  "vim-mode-plus"
  "vim-mode-plus-keymaps-for-surround"
]
